{{$Hosting := .Hosting}} <!-- Webosting -->
{{$Titel := .Titel}} <!-- Seiten Titel -->
<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Thorsten Klöhn">
    <meta name="generator" content="Webprogrammieren.de">
    <meta name="publisher" content="Thorsten Klöhn">
    <meta name="copyright" content="GNU LESSER GENERAL PUBLIC LICENSE"> <!-- http. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{$Hosting}}/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{$Hosting}}/static/bootstrap/test.css">

    <title>Fehler</title>
</head>
<body>
<div class="container">

    <center> <h1>Fehler Meldung</h1></center>
    <center>Nutzername und Passwort sind Falsch</center>
    <form action="login" method="get">
        <button type="submit" class="btn btn-primary btn-block">Zurück nach Login</button>
</form>
</div>

<script src="{{$Hosting}}/static/jquery/jquery-3.4.1.slim.min.js"></script>
<script src="{{$Hosting}}/static/jquery/popper.min.js"></script>
<script src="{{$Hosting}}/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>