{{$Hosting := .Hosting}} <!-- Webosting -->
{{$Titel := .Titel}} <!-- Seiten Titel -->
<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Thorsten Klöhn">
    <meta name="generator" content="Webprogrammieren.de">
    <meta name="publisher" content="Thorsten Klöhn">
    <meta name="copyright" content="GNU LESSER GENERAL PUBLIC LICENSE"> <!-- http. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{$Hosting}}/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{$Hosting}}/static/bootstrap/test.css">

    <title>Login</title>
</head>
<body>
<center><h1>Login</h1></center>
<div class="container">
  <form action="{{$Hosting}}/test" method="post">
      <div class="form-group">
          <label for="usr">Nutzername:</label>
      <input type="text" class="form-control" id="usr" name="Nutzername">
          <label for="Pass">Passwort:</label>
      <input type="password" class="form-control" id="Pass" name="Passwort">

          <button type="submit" class="btn btn-primary">Senden</button>
      </div>
  </form>
</div>

<script src="{{$Hosting}}/static/jquery/jquery-3.4.1.slim.min.js"></script>
<script src="{{$Hosting}}/static/jquery/popper.min.js"></script>
<script src="{{$Hosting}}/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>