{{$Hosting := .Hosting}} <!-- Webosting -->
{{$Titel := .Titel}} <!-- Seiten Titel -->
{{$Zugriff := .Zugriff}}
<!doctype html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="author" content="Thorsten Klöhn">
    <meta name="generator" content="Webprogrammieren.de">
    <meta name="publisher" content="Thorsten Klöhn">
    <meta name="copyright" content="GNU LESSER GENERAL PUBLIC LICENSE"> <!-- http. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{$Hosting}}/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{$Hosting}}/static/bootstrap/test.css">
    <link rel="stylesheet" href="{{$Hosting}}/static/css/main.css">

    <title>{{.Seiten}}</title>
</head>
<body>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{$Hosting}}">{{.WebsiteTitel}}</a></li>
            <li class="breadcrumb-item"><a href="{{$Hosting}}/{{.Titel}}">{{.Titel}}</a></li>
            <li class="breadcrumb-item"><a href="{{$Hosting}}/{{.Titel}}/{{.Seiten}}">{{.Seiten}}</a></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-sm-3">
            <ul class="nav flex-column">
                {{range .Sidebar}}
                    <li class="nav-item"> <a  href="{{$Hosting}}/{{$Titel}}/{{.}}">{{.}}</a> </li>{{end}}
            </ul>
        </div>
        <div class="col-sm-9">


            {{if eq $Zugriff true}}

                <form action="{{$Hosting}}/bearbeitung/{{.Titel}}/{{.Seiten}}" method="post">
                    Sidebar: <br> <textarea class="form-control" rows="2" name="Sidebar">{{.SidebarVorschau}}</textarea>

                    Inhalt : <br><textarea class="form-control" rows="15" name="Inhalt">{{.Inhalt}}</textarea>
                    <button type="submit" class="btn btn-primary btn-block">Seite bearbeiten</button>
                </form>

                {{else}}

                <h1>Sie haben kein Zugriff auf diese Seite</h1>

            {{end}}


        </div>
    </div>


    <ul class="nav justify-content-center">

        <li class="nav-item">
            <a class="nav-link" href="{{$Hosting}}/home/Impressum">Impressum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{$Hosting}}/home/Datenschutzerklärung">Datenschutzerklärung</a>
        </li>

    </ul>
</div>

<script src="{{$Hosting}}/static/jquery/jquery-3.4.1.slim.min.js"></script>
<script src="{{$Hosting}}/static/jquery/popper.min.js"></script>
<script src="{{$Hosting}}/static/bootstrap/js/bootstrap.min.js"></script>
</body>
